<div class="container">
  <h4 center>Address index</h4>
  <p-card header="address" [style]="{ width: '1000px' }">
    <ng-template pTemplate="header">
      <p-table
        [columns]="cols"
        [value]="gaddresss"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{ rowData[col.field] }}
            </td>
            <td>
              <button 
              pButton
              pRipple
              icon="pi pi-bars"
              class="p-button p-button-info p-mr-2"
              ></button>
            </td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button p-button-success p-mr-2"
                (click)="editaddress(gaddress)"
              ></button>
            </td>
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button p-button-warning"
                (click)="deleteaddress(gaddress)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-card>
</div>
