

<style>
  :host {
    font-family:  'Roboto',sans-serif;
    font-size: 25px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 18px 0;
  }

  .toolbar {
    position: center;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #3F611A;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 20px;
  }

  
</style>
<div class="toolbar" role="banner">
  <img
    width="120"
    src="/assets/TC_Logo.png">
  <span >Company Address Management</span>
</div>
<div >
  <app-menubar></app-menubar>
  <router-outlet></router-outlet>
</div>
<div >
  
</div>

